<h1>Listing Tasks</h1>
<% @tasks.group_by { |t| t.committee }.each do |committee, tasks| %>
  <h2><%= committee.name %></h2>
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>User</th>
        <th>Seminars</th>
        <th>Shift</th>
        <th>Event</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% tasks.each do |task| %>
        <tr>
          <td><%= task.description %></td>
          <td><%= task.user ? task.user.name : '' %></td>
          <td><%= task.seminar ? task.seminar.name : '' %></td>
          <td><%= task.shift ? task.shift.name : '' %></td>
          <td><%= task.shift.event ? task.shift.event.name : ''  %></td>
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<%= link_to 'New Task', new_task_path %>