<%= form_for(@committees_joined) do |f| %>
  <% if @committees_joined.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committees_joined.errors.count, "error") %> prohibited this committees_joined from being saved:</h2>

      <ul>
      <% @committees_joined.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :committee_id %><br>
    <%= f.number_field :committee_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
