<div class="login-page">
  <div class="login-page-outer-container">
    <div class="login-page-inner-container">
      <img class="login-logo" src="../../assets/images/login/login-logo.png" alt="IEEE logo">
      <div class="login-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <span class="login-form__label__text">Email</span>
              <%= f.email_field :email, autofocus: true, class: "login-form__input" %>
            </div>
            <div class="field">
            <span class="login-form__label__text">Password</span>
            <%= f.password_field :password, autocomplete: "off", class: "login-form__input" %><br>
            </div>

            <% if devise_mapping.rememberable? -%>
                <div class="field">

                  <span class="login-form__label__text">Remember Me</span>
                  <%= f.check_box :remember_me %>
                  </div>
                  <div class="field">
                <%= f.submit "Log in", class: "login-form__submit" %><br>
                  </div>
                <%= render "devise/shared/links" %>

                  </div>
            <% end -%>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= render "devise/shared/links" %>
