<%= form_for(@available) do |f| %>
  <% if @available.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@available.errors.count, "error") %> prohibited this available from being saved:</h2>

      <ul>
      <% @available.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- TODO!! get user from session -->
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id,User.all,:id,:name %>
  </div>
    <% if params['event'] %>
        <div class="field">
          <%= f.label :shift_id %><br>
          <%= f.collection_select :shift_id,Event.find(params['event']['event_id']).shifts,:id,:start_time %>
        </div>
        <% else %>
        <div class="field">
          <%= f.label :shift_id %><br>
          <%= f.number_field :shift_id %>
        </div>
        <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
