

<h1>Listing Availablities</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Shift Name</th>
      <th>Shift Start</th>
      <th>Shift End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @availables.each do |available| %>
      <tr>
        <td><%= Shift.find(available.shift_id).event.name %></td>
        <td><%= Shift.find(available.shift_id).name %></td>
        <td><%= Shift.find(available.shift_id).start_time %></td>
        <td><%= Shift.find(available.shift_id).end %></td>
        <td><%= link_to 'Delete', available, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Available', new_available_path %>
